# будет игнорироваться каталог tmp относительно проекта
/tmp/

# будут игнорироваться все файлы и каталоги с суффиксами _old, _backup
* _old
* _backup

# будут игнорироваться все файлы Thumbs.db
Thumbs.db

# будут игнорироваться все файлы с расширением .DS_Store
.DS_Store